<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sach catogory</title>
</head>
<body>
<a href="/create-catogory">Create new catogory</a>
<a href="/create-blog">Create new blog</a>
<h1>Catogorys</h1>
<form>
    Search by name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="category: ${categorys}">
        <tr>
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/edit-category/__${category.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${category.id}__ }">Delete</a></td>
            <td><a th:href="@{/blogs/__${category.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/categorys'(page=${categorys.number - 1})}" th:if="${categorys.hasPrevious()}">Previous</a>
    <span th:text="${categorys.number + 1}"></span>/<span th:text="${categorys.totalPages}"></span>
    <a th:href="@{'/categorys'(page=${categorys.number + 1})}" th:if="${categorys.hasNext()}">Next</a>
</div>
</body>
</html>